@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: tomato;
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  h1 {
    margin: 1rem 0;
  }
}

form {
  display: flex;
  // width: 15rem;
  justify-content: space-between;
  margin: 0 auto;
  border: 2px solid #fad586;
  input,
  button {
    border: none;
    outline: none;
  }
  button {
    padding: 0;
    background: none;
    .add-icon {
      width: 1.8rem;
      height: 1.8rem;
      vertical-align: middle;
      color: #1b2021;
    }
  }
  input {
    background-color: #1b2021;
    color: #fad586;
    font-weight: bold;
    padding-left: 0.5rem;
  }
}

.ToDoList {
  user-select: none;
  margin-top: 3rem;
  border-radius: 10px;
  margin: 2rem auto;
  li {
    display: flex;
    padding: 0.6rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 213, 134, 0.8);
    &:nth-child(2n) {
      background: #fad586;
    }
    .remove-btn {
      color: brown;
    }
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
